/**
 * @name Declutter
 * @version 1.0.0.6
 * @description Various Discord UI tweaks to declutter the UI and remove unwanted elements.
 * @author Cats
 *
 * @source https://github.com/Cats1337/VencordStuff
 */

/* --- General Nitro and Shop Cleanup --- */
[href="/store"], 
[href="/shop"],
[class*="nowPlayingColumn"],
a[data-list-item-id$="_nitro"],
[class^="premiumIconWrapper"],
[class*="hasCollectiblesUpsell"],
[class*="characterCount"] > div[class*="upsell_"],
[class*="selectorButtonPremiumRequired"],
[class^="shinyButton"]:has(div[class*=premiumSubscribeButton]),
[class^="nitroTextAndBadge"],
[class^="tooltipPremiumContent"],
[class^="nitroTopDividerContainer"], 
div[class^="nitroTopDividerContainer"] ~ div,
[class^="upsellContainer"],
[class^="nitroBottomDivider"],
[class^="categoryItemLockIconContainer"],
[class^="emojiLockIconContainer"],
button:has(div[class^=emojiLockIconContainer]) {
  display: none !important;
}

._972a0d22c8afa7f0-channel.container__23ba6:has(a[href="/store"]) {
	display: none !important;
}

/* Remove the purple background in the emoji picker and autocomplete */
[class*=categorySectionNitroLocked] { background-color: unset !important; }
/* Restore grayscale for locked emojis */
[class*=categorySectionNitroLocked] > ul > li > button > img[class^="lockedEmoji"] {
  filter: grayscale();
}

/* Keeps emoji button normal */
[class^=spriteContainer_] {
  --custom-emoji-sprite-row: 2 !important;
  --custom-emoji-sprite-col: 10 !important;
  display: flex !important;
}

/* --- Chatbox Buttons --- */
[aria-label="Send a gift"],
[class*="channelAppLauncher_"],
[class*="stickerButton_"] {
  display: none !important;
}

[class*="buttonContainer_"]:has([class*="stickerButton_"]) {
    display: none !important;
}

/* --- Super Reactions --- */
[id="super-reaction-picker-tab"],
[class*="shakeReaction"],
[class^="reactionInner"] > div > div[class^="effectsWrapper"],
[class^="burstToggle"],
[class^="burstReactionTooltipPrompt"],
[class^="NitroLocked"] {
  display: none !important;
}

/* Super reaction animation */
[class*="shakeReaction"] { animation: none !important; }
[class^="reactionInner"] > div > div[class^="effectsWrapper"] { display: none !important; }
[class*="hideEmoji"] { animation: blink-emoji 1s linear infinite; opacity: 255; }
@keyframes blink-emoji {  
  50% { opacity: 0; }
}

/* --- Voice and Video --- */
/* Remove "Start an Activity" and "Turn On Camera" */
[class*="actionButtons_"] > button[aria-label="Start An Activity"],
[class*="actionButtons_"] > button[aria-label="Turn On Camera"],
div[class*="controlButton_"]:has(button[aria-label="Start An Activity"]),
div[class*="controlButton_"]:has(button[aria-label="Turn On Camera"]) {
    display: none !important;
}


/* Chat time connected fix */
[class*="rtcConnectionStatusWrapper_"] {
  margin-right: -10px;
}

/* ----------- */
/* Hang Status */
/* ----------- */
[class^="popoutWrapper_"],
[class*=userPopoutOverlayBackground] {
  max-height: 60vh;
}

[class*="optionsButtonContainer"]{
  display: none !important;
}

/* Repair Live */
[class*="liveIconSpacing_"]{
  display: flex !important;
}

/* -------------- */
/* Expanded Voice */
/* -------------- */
/* Hide Activities */
[class*="attachedCaretButtonContainer_"]:nth-child(3),
[aria-label="Start An Activity"]
{
    display: none !important;
}

/* Hide Nubs */
[class*="contextMenuNubExperiment_"][aria-label="More Options"]{
    display: none !important;
}

/* Re-round the buttons */
[class*="attachedButton_"]{
    border-radius: 8px;
}

/* Hide "Start An Activity" in bottom left */
[class*="actionButtons_"] > button[aria-label="Start An Activity"],[class*="actionButtons_"] > button[aria-label="Turn On Camera"] {
  display: none !important;
}

/* Hide "Turn On Camera" button in 'large vc view?' control buttons*/
[class*="wrapper_"] > div[class*="controlButton_"]:has(button[aria-label="Turn On Camera"]) {
  display: none !important;
}
div[class*="controlButton_"]:has(button[aria-label="Start An Activity"]) {
  display: none !important;
}

/* ---- */
/* Chat */
/* ---- */
/* Hide all the buttons in the more menu unless hovered (Emoji, Edit, Reply) */
[class^="buttonsInner_"]:not(:hover):not(:focus-within) > :not(:nth-last-child(2)) {
  display: none !important;
}

/* Confetti */
#message-add-confetti-potion,
[class*="messageConfettiButton"],
[class^="buttonsInner_"] > [role=button]:nth-child(3) {
  display: none !important;
}

/* Hide 'Edit Image With Apps' button */
[class^="hoverButton"]:last-child{
  display: none !important;
}

/* Hide Apps in chatbar */
.app-launcher-entrypoint{
    display: none;
}

/* ------- */
/* Privacy */
/* ------- */
/* Hide Email & Phone */
[class^="field_"]:nth-child(3) > div > div > div > span,
[class^="field_"]:nth-child(4) > div > div > div > span {
    visibility: hidden;
}

/* Text for Hidden Email/Phone */
[class^="field_"]:nth-child(3) > div > div > div > span::after,
[class^="field_"]:nth-child(4) > div > div > div > span::after {
  content: "Hidden";
  color: grey;
  font-style: italic;
  position: absolute;
  left: 2em;
  visibility: visible;
}

/* ----- */
/* Other */
/* ----- */
/* APP -> BOT */
[class*=botTagRegular]:not([class*=botTagOP],[class*=botTagRemix])>span:before {
  content: "Bot";
  font-size: 0.625rem;
  line-height: 1.3;
}
[class*=botTagRegular]:not([class*=botTagOP],[class*=botTagRemix])>span {
  font-size: 0 !important;
  line-height: 0 !important;
}

/* Shush Vencord bot */
[class*="message_"]:has([class*="contents_"] > img[src*="1017176847865352332"]):has(.channelMention) {
  display: none !important;
}

/* Hide Vencord donation messages */
.vc-settings-donate, .vc-special-card {
    display: none !important;
}

/* Visual Refresh Fixes */
[class*="role_"][class*="pill"] {
  position: relative;
  background: none;
  border: none;
  padding-left: 28px;
}

[class*="role_"][class*="pill"] > span {
  z-index: 1;
}

[class*="role_"][class*="pill"] [class*="roleRemoveButton_"] {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0 !important;
}

[class*="role_"][class*="pill"] [class*="roleCircle_"] {
  margin: 6px 8px;
}

[class*="role_"][class*="pill"] [class*="roleCircle_"]::before {
  content: '';
  display: block;
  position: absolute;
  background-color: inherit;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: var(--radius-xs);
  filter: brightness(1.1);
  opacity: 0.25;
}

.visual-refresh {
  --custom-channel-textarea-text-area-height: 56px;
  [class*="form_"] {
      display: flex;
      flex-direction: column;
  }
  [class*="channelTextArea_"] {
      margin-bottom: 8px;
  }
  [class*="base_"] {
      position: static;
      order: -1;
  }
}

.visual-refresh section[class*="panels_"] {
margin-left: var(--custom-guild-list-width);
width: calc(100% - var(--space-xs)*2 - var(--custom-guild-list-width)) !important;
.e131a99484292a19-actionButtons button {
  padding: 0;
}
}
nav[class*="guilds_"] {
margin-bottom: 0 !important;
}


/* Hide Apps button(s) */
#channel-attach-SLASH_COMMAND {
  display: none !important;
}

[class*="hoverButton_"][aria-label="Edit Image with Apps"] {
  display: none !important;
}

/* Font fix for a thing I forgot what exactly... */
@font-face{
  font-family:"Noto Sans Bamum";
  src:url("https://notofonts.github.io/bamum/fonts/NotoSansBamum/full/ttf/NotoSansBamum-Regular.ttf") format("truetype");
}

@font-face{
  font-family:"Noto Sans Batak";
  src:url("https://notofonts.github.io/batak/fonts/NotoSansBatak/full/ttf/NotoSansBatak-Regular.ttf") format("truetype");
}

:root{
  --font-primary: "gg sans",
                  "Noto Sans Math",
                  "Noto Sans Bamum",
                  "Noto Sans Batak",
                  "Noto Sans",
                  "Helvetica Neue", Helvetica, Arial, sans-serif;
}


._37e49614b9f110a9-micButtonParent > ._37e49614b9f110a9-buttonChevron {
  display: none !important;
}

._37e49614b9f110a9-micButtonParent ._37e49614b9f110a9-micButtonWithMenu {
  border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}


/* revert chat input position */
.f75fb00fb7356cbe-channelTextArea {
    margin-bottom: 25px;
}

/* revert chat input height */
.align-chat-input {
    --custom-channel-textarea-text-area-height: 52px;
}
.align-chat-input ._0923f156a0410684-attachWrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* revert typing bubbles position */
.align-chat-input .b8880176888cc928-inTextChannel.b8880176888cc928-base {
    bottom: 0px;
    top: auto;
}
.align-chat-input .b8880176888cc928-inTextChannel .b8880176888cc928-typingDots {
    margin-left: 0;
}
.align-chat-input .b8880176888cc928-inTextChannel .b8880176888cc928-text {
    margin-left: 4px;
}

/* move chat back down to usual position */
._36d072eab2b2e737-scrollerSpacer {
    height: 28px !important;
}

/* revert color of typing username */
.align-chat-input .b8880176888cc928-inTextChannel .b8880176888cc928-text>strong {
    color: var(--text-secondary);
}

/* change attachment button svg back */
._0923f156a0410684-attachButton path {
    d: path("M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm0-17a1 1 0 0 1 1 1v4h4a1 1 0 1 1 0 2h-4v4a1 1 0 1 1-2 0v-4H7a1 1 0 1 1 0-2h4V7a1 1 0 0 1 1-1Z");
}

/* remove weird gradient thing */
._36d072eab2b2e737-chatTypingGradientAtBottom, ._36d072eab2b2e737-chatTypingGradientNotAtBottom {
    display: none;
}

._972a0d22c8afa7f0-channel:not(._972a0d22c8afa7f0-dm):has(a[data-list-item-id$="___quests"]) {
    /* Scoped to only the Quests list item */
    margin: 0 4px;
    >._972a0d22c8afa7f0-linkButton >._972a0d22c8afa7f0-link {
    padding: 8px;
    >._972a0d22c8afa7f0-avatarWithText {
        /* padding: 0; */
        >._20a53846fe2e8513-avatar {
        margin: 0;
        }
        >._20a53846fe2e8513-content {
        display: none;
        }
    }
    >._2b1f52e43a8f1c02-numberBadge {
        position: absolute;
        left: 17.5px;
        bottom: 0;
        transform: scale(0.7);
    }
    >._4ed1af9a212b8f4f-newBadge {
        position: absolute;
        left: -3px;
        bottom: 0;
        transform: scale(0.7);
    }
    }
}

/* Make Friends and Quest thingy on same line */
._553bf02027ac2419-wrapper {
  position: absolute;
  top: 8px;
  right: 0;
}

div[class^="friendsButtonContainer"] {
    width: 80%;
}

